* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #00f;
    overflow: hidden;
}

h1 {
    width: 100%;
    font-size: 6em;
    text-shadow: 10px 5px #000;
}

h2 {
    width: 100%;
    font-size: 3em;
    text-shadow: 5px 5px #000;
}

h3 {
    font-size: 6em;
    text-shadow: 10px 5px #000;
}

h4 {
    width: 1070px;
    margin-left: 12px;
    font-size: 0.8em;
}

h5 {
    display: inline-flex;
    font-size: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    & > * {
        color: #ff0;
    }
}

h6 {
    font-size: 6.9em;
    text-shadow: 10px 5px #000;
    margin-top: 30px;
}

audio {
    display: none;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    object-fit: cover;
}

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#marquee-container {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #ff0;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;

    #marquee {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 15s linear infinite;
        color: #000;
    }

    @keyframes marquee {
        0% { transform: translate(0, 0); }
        100% { transform: translate( -100%, 0); }
    }
}

#title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#left-container {
    display: flex;
    width: 50%;
    height: 50%;
    flex-flow: column;
}

#right-container {
    display: flex;
    flex-flow: wrap;
}

#bottom-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
}

#lee-face-container {
    margin-left: 20px;
    margin-top: 50px;
}

#text-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#playbutton {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5em;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #ddd;
    }
}

#quote-container {
    display: flex;
    font-style: italic;
    font-size: 1.6em;
    text-shadow: 5px 5px #000;
    width: 400px;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 10px;
    justify-content: center;
    height: 120px; 

    & > #quote {
        font-weight: bold;
    }

    & > #author {
        margin-left: 50px;
    }
}

#lee-bam-face {
    float: right;
    width: 180px;
    margin-left: 10px;
}

#bam {
    position: absolute;
    width: 200px;
    transform: rotate(10deg);
    z-index: 1;
}

#bam-text {
    position: absolute;
    font-size: 1em;
    transform: rotate(15.7deg);
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    margin-top: 45px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-weight: bolder;
}

@keyframes bam-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#lee-bam-container {
    position: absolute;
    width: 200px;
    margin-top: 190px;
    margin-left: -80px;
    animation: bam-animation 0.9s ease-in-out alternate infinite;
}

#cards {
    margin-top: 10px;
    width: 250px;
}

#canvas-container {
    display: flex;
    position: relative;
    width: 70%;
    height: 80%;
    align-self: flex-end;
    margin: 30px;
    border: 10px solid #fff;
    max-width: 580px;
    min-width: 560px;
}

.hotbread {
    color: #000;
    animation: hotbread-animation 1s steps(2) infinite;

    @keyframes hotbread-animation {
        0% { color: #f00; }
        100% { color: #000; }
    }
}

@media screen and (max-width: 1306px) {
    #left-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 33%;
    }

    #canvas-container {
        width: 100%;
        height: 100%;
        max-width: 90%;
    }
    
    #right-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 25%
    }

    #marquee-container {
        height: 70px;
        font-size: 2.5em;
    }
    
    #text-column {
        margin-top: 0px;
    }

    #bottom-container {
        width: 100%;
        height: 33%;
        margin-top: 0px;
    }

    h1 {
        font-size: 9em;
    }
    
    h2 {
       font-size: 4.5em;
    }

    #cards {
        width: 400px;
    }

    #lee-bam-face {
        width: 250px;
        margin-top: 30px;
    }

    #bam {
        width: 250px;
    }

    #bam-text {
        font-size: 1.2em;
        margin-top: 50px;
    }

    #lee-bam-container {
        margin-top: 300px;
    }

    h3 {
        margin-top: 30px;
        font-size: 5em;
    }

    h4 {
        font-size: 1.2em;
        max-width: 900px;
    }

    #lee-face-container {
        margin-top: -100px;
        margin-left: 0px;
    }

    h6 {
        font-size: 5em;
    }

    #number {
        height: 90px;
    }
}
