block variables
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon", href="lee.png")
        link(rel="stylesheet" href="index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="index.js")
        title BUY NOW!!! BUY NOW!!! BUY NOW!!! BUY NOW!!!
    body
        #main-container
            #top-container
                p#marquee
            #left-container
                #canvas-container
                    video(muted src="video1.mov" id="video1")
                    video(muted src="video0.mov" id="video0")
                    #playbutton ▶
                    audio(src="lee_jennings_infomercial_music.mp3" loop)
                    audio(src="lee_jennings_ep_voicereel_demo.wav" loop)
            #right-container
                div#text-column
                    h1 $FREE.99
                    h2#presave PRE-SAVE NOW!!!
                    div#payments
                        img(id="cards" src="cards.png")
                div#lee-face-container
                    img(id="lee-bam-face" src="lee.png")
                    div#lee-bam-container
                        img(id="bam" src="bam.png")
                        p#bam-text Now with 100% more riddim!
            #bottom-container
